*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p8 {
  padding: 8px;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(64%, #f9f1e7), color-stop(36%, #fcf8f3));
  background: linear-gradient(to right, #f9f1e7 64%, #fcf8f3 36%);
  padding-top: 43px;
}

.header__top {
  margin-bottom: 58px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 41px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.header__wrapper {
  position: relative;
}

.header__slider {
  padding-top: 80px;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3a3a3a;
}

.nav__item {
  position: relative;
  padding-right: 28px;
  margin-right: 40px;
  cursor: pointer;
}

.nav__item:last-child {
  padding-right: 0;
}

.nav__item:last-child a {
  color: inherit;
}

.nav__item:last-child a:hover {
  text-decoration: underline;
}

.nav__item i {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav__item ul {
  display: none;
  position: absolute;
  left: -5px;
  z-index: 200;
  width: 132px;
}

.nav__item ul a {
  display: block;
  padding: 10px 5px;
  color: inherit;
  background-color: #f9f1e7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__item ul a:hover {
  background-color: #efd9be;
}

.nav__item:hover ul {
  display: block;
}

.search-bar {
  padding: 0 44px;
  max-width: 473px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.search-bar__input {
  height: 45px;
  border: none;
  outline: none;
  width: 100%;
}

.search-bar__input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
}

.search-bar__input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
}

.search-bar__input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
}

.search-bar__input::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
}

.search-bar i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
}

.icons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons__item {
  margin-right: 34px;
}

.icons__item:last-child {
  margin-right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.icons__item i {
  font-size: 24px;
  color: #262f56;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icons__item i:hover {
  color: #ff0000;
}

.hero-content {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 100;
  max-width: 494px;
  padding: 60px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
}

.hero-content__title {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  color: #3a3a3a;
}

.hero-content__text {
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #898989;
}

.btn {
  display: inline-block;
  padding: 24px;
  width: 100%;
  text-align: center;
  background-color: #e89f71;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #dd722f;
}

.btn--white {
  padding: 12px;
  background-color: #ffffff;
  color: #e89f71;
  font-size: 16px;
  border: 1px solid #e89f71;
}

.btn--white:hover {
  background-color: #e89f71;
  color: #ffffff;
}

.btn--small {
  padding: 12px;
  max-width: 176px;
  font-size: 16px;
}

.furniture-slider {
  max-width: 966px;
  margin: 0 auto;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.furniture-slider__item {
  margin: 0px 16px;
  position: relative;
}

.furniture-slider img {
  max-width: 934px;
  width: 100%;
}

.furniture-slider .slick-list {
  overflow: visible;
}

.furniture-slider__card {
  max-width: 294px;
  width: 100%;
  position: absolute;
  right: 40px;
  bottom: 40px;
  padding: 24px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
}

.furniture-slider__title {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #3a3a3a;
}

.furniture-slider__text {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.furniture-slider__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #3a3a3a;
}

.furniture-slider__arrow {
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: #3a3a3a;
}

.furniture-slider__arrow i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.furniture-slider__arrow i:hover {
  color: #e89f71;
}

.furniture-slider ul {
  position: absolute;
  top: -68px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.furniture-slider ul li {
  margin: 0px 8px;
}

.furniture-slider ul li button {
  position: relative;
  padding: 0;
  width: 27px;
  height: 27px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}

.furniture-slider ul li button::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 11px;
  height: 11px;
  background-color: #d8d8d8;
  border-radius: 50%;
}

.furniture-slider ul .slick-active button {
  border-color: #e89f71;
}

.furniture-slider ul .slick-active button::after {
  background-color: #e89f71;
}

.slider-btn {
  padding: 0;
  top: -68px;
  right: 18px;
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  position: absolute;
  border-radius: 50%;
  background-color: #e89f71;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 10;
}

.slider-btn:hover {
  background-color: #e18145;
}

.slider-btn.slick-prev {
  right: 78px;
}

.slider-btn.slick-prev i {
  position: relative;
  left: -2px;
}

.slider-btn.slick-next i {
  position: relative;
  left: 2px;
}

.slider-btn i {
  color: #ffffff;
  font-size: 20px;
}

.slider-btn--light {
  top: 50%;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
}

.slider-btn--light.slick-prev {
  left: -10px;
}

.slider-btn--light.slick-prev i {
  position: relative;
  left: -2px;
}

.slider-btn--light.slick-next {
  right: -10px;
}

.slider-btn--light.slick-next i {
  position: relative;
  left: 2px;
}

.slider-btn--light i {
  color: #e89f71;
}

.slider-btn--light:hover {
  background-color: #e89f71;
}

.slider-btn--light:hover i {
  color: #ffffff;
}

.features {
  padding: 88px 0;
}

.features .container {
  overflow: hidden;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
}

.features__item {
  width: 25%;
  padding-left: 30px;
  padding-right: 30px;
}

.feature-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-card__img {
  position: relative;
  top: 6px;
  margin-right: 24px;
  width: 40px;
  height: 40px;
}

.feature-card__title {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #3a3a3a;
}

.feature-card__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #3a3a3a;
}

.products .container {
  overflow: hidden;
}

.products__title {
  margin-bottom: 32px;
}

.products__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.products__item {
  width: 25%;
  padding: 0px 16px;
  margin-bottom: 32px;
}

.products__btn-outer {
  max-width: 245px;
  margin: 0 auto 44px;
}

.product-card {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.product-card:hover .product-mask {
  opacity: 1;
}

.product-card__img {
  display: block;
  width: 100%;
}

.product-card__content {
  padding: 16px 16px 30px;
  background-color: #f4f5f7;
  height: 100%;
}

.product-card__title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #3a3a3a;
}

.product-card__text {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
}

.product-card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #3a3a3a;
}

.product-card__price span {
  margin-left: 14px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #b0b0b0;
}

.product-label {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2ec1ac;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.product-label--discount {
  background-color: #e97171;
}

.product-mask {
  padding: 175px 41px 41px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}

.product-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a3a3a;
  opacity: 0.72;
}

.product-mask__btn {
  position: relative;
  z-index: 1;
  margin-bottom: 24px;
  border: none;
}

.product-mask__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 0px 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.product-mask__actions span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-mask__actions i {
  font-size: 20px;
  margin-right: 12px;
}

.product-mask__actions a {
  color: inherit;
}

.product-mask__actions a:hover {
  text-decoration: underline;
}

.inspirations {
  background-color: #fcf8f3;
  padding: 44px 0;
  overflow: hidden;
}

.inspirations__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inspirations__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 464px;
  padding-right: 86px;
  position: relative;
  z-index: 10;
  background-color: #fcf8f3;
}

.inspirations__title {
  margin-bottom: 8px;
  text-align: left;
}

.inspirations__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
  margin-bottom: 24px;
}

.room-slider {
  max-width: 376px;
}

.room-slider__item {
  position: relative;
}

.room-slider__card {
  opacity: 0;
  position: absolute;
  bottom: 24px;
  left: 24px;
  padding: 32px;
  max-width: 217px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.room-slider__category {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.room-slider__name {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #3a3a3a;
}

.room-slider__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  right: -48px;
  width: 48px;
  height: 48px;
  background-color: #e89f71;
  font-size: 18px;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
}

.room-slider__arrow:hover {
  background-color: #dd722f;
}

.room-slider .slick-current img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1) translateX(0);
          transform: scale(1) translateX(0);
}

.room-slider .slick-current .room-slider__card {
  opacity: 1;
}

.room-slider img {
  cursor: pointer;
  -webkit-transform: scale(0.8) translateY(-10%);
          transform: scale(0.8) translateY(-10%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.room-slider .slick-list {
  overflow: visible;
}

.room-slider ul {
  position: absolute;
  bottom: 30px;
  right: 0;
  -webkit-transform: translateX(122%);
          transform: translateX(122%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.room-slider ul li {
  margin: 0px 8px;
}

.room-slider ul li button {
  position: relative;
  padding: 0;
  width: 27px;
  height: 27px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}

.room-slider ul li button::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 11px;
  height: 11px;
  background-color: #d8d8d8;
  border-radius: 50%;
}

.room-slider ul .slick-active button {
  border-color: #e89f71;
}

.room-slider ul .slick-active button::after {
  background-color: #e89f71;
}

.tips-tricks {
  padding: 44px 0;
}

.tips-tricks__title {
  margin-bottom: 32px;
}

.multi-slider {
  margin-bottom: 70px;
}

.multi-slider__item {
  margin: 0px 16px;
}

.multi-slider__img {
  width: 100%;
  margin-bottom: 16px;
}

.multi-slider__title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #3a3a3a;
}

.multi-slider__date {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #898989;
}

.multi-slider ul {
  position: absolute;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.multi-slider ul li {
  margin: 0px 8px;
}

.multi-slider ul li button {
  position: relative;
  padding: 0;
  width: 27px;
  height: 27px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}

.multi-slider ul li button::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 11px;
  height: 11px;
  background-color: #d8d8d8;
  border-radius: 50%;
}

.multi-slider ul .slick-active button {
  border-color: #e89f71;
}

.multi-slider ul .slick-active button::after {
  background-color: #e89f71;
}

.share {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.share__subtitle {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #616161;
}

.share__inner {
  margin-bottom: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.share__subbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.share__subbox div {
  padding: 8px;
}

.share img {
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.share img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.footer__inner {
  padding: 80px 0px 50px;
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #d8d8d8;
}

.footer__item {
  padding: 0px 10px;
}

.footer__item:nth-child(1) {
  width: 26%;
}

.footer__item:nth-child(2) {
  width: 15%;
}

.footer__item:nth-child(3) {
  width: 14%;
}

.footer__item:nth-child(4) {
  width: 21%;
}

.footer__item:nth-child(5) {
  width: 24%;
}

.footer__title {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  margin-bottom: 16px;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__link a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.footer__link a:hover {
  text-decoration: underline;
}

.contacts {
  max-width: 250px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.contacts__text {
  margin-bottom: 16px;
}

.contacts__link {
  margin-bottom: 16px;
}

.contacts__link:last-child {
  margin-bottom: 0;
}

.contacts__link a {
  color: inherit;
}

.contacts__link a:hover {
  text-decoration: underline;
}

.contacts__link a i {
  margin-right: 10px;
}

.email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email-form__input {
  margin-right: 4px;
  padding-left: 12px;
  display: block;
  max-width: 242px;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background-color: #f4f5f7;
}

.email-form__btn {
  max-width: 45px;
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e89f71;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.email-form__btn:hover {
  background-color: #dd722f;
}

.email-form__btn i {
  color: #ffffff;
  font-size: 18px;
}
