$white: #ffffff;
$light-bg: #f4f5f7;
$black: #000000;
$grey-1: #3a3a3a;
$grey-2: #616161;
$grey-3: #898989;
$grey-4: #b0b0b0;
$grey-5: #d8d8d8;
$orange: #e89f71;

$transition: all 0.2s;

$extra-large: "max-width: 1439px"; // 1200 - 1439
$large: "max-width: 1199px"; // 992 - 1199
$medium: "max-width: 991px"; // 768 - 991
$small: "max-width: 767px"; // 576 - 767
$extra-small: "max-width: 575px"; // <= 575
