@import "_variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.p8 {
  padding: 8px;
}

@import "blocks/container";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/nav";
@import "blocks/search-bar";
@import "blocks/icons";
@import "blocks/hero-content";
@import "blocks/btn";
@import "blocks/furniture-slider";
@import "blocks/slider-btn";
@import "blocks/features";
@import "blocks/feature-card";
@import "blocks/title";
@import "blocks/products";
@import "blocks/product-card";
@import "blocks/product-label";
@import "blocks/product-mask";
@import "blocks/inspirations";
@import "blocks/room-slider";
@import "blocks/tips-tricks";
@import "blocks/multi-slider";
@import "blocks/share";
@import "blocks/footer";
@import "blocks/contacts";
@import "blocks/email-form";
