@import "_variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/search-bar";
@import "blocks/icons";
@import "blocks/hero-content";
@import "blocks/btn";
@import "blocks/room-slider";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
// @import "blocks";
