.btn {
  display: inline-block;
  padding: 24px;
  width: 100%;
  text-align: center;
  background-color: $orange;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: $white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: darken($orange, 15%);
  }

  &--white {
    padding: 12px;
    background-color: $white;
    color: $orange;
    font-size: 16px;
    border: 1px solid $orange;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }

  &--small {
    padding: 12px;
    max-width: 176px;
    font-size: 16px;
  }
}
