.email-form {
  display: flex;

  &__input {
    margin-right: 4px;
    padding-left: 12px;
    display: block;
    max-width: 242px;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background-color: $light-bg;
  }

  &__btn {
    max-width: 45px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orange;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: darken($orange, 15%);
    }

    i {
      color: $white;
      font-size: 18px;
    }
  }
}
