.features {
  padding: 88px 0;

  .container {
    overflow: hidden;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
  }

  &__item {
    width: 25%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
