.features {
  padding: 88px 0;

  @media ($small) {
    padding: 88px 0 48px;
  }

  
  @media ($extra-small) {
    padding: 58px 0 28px;

  }

  .container {
    overflow: hidden;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;

    @media ($medium) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__item {
    width: 25%;
    padding-left: 30px;
    padding-right: 30px;

    @media ($medium) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media ($small) {
      width: 50%;
      margin-bottom: 30px;
    }

    @media ($extra-small) {
      width: 100%;
    }
  }
}
