.feature-card {
  display: flex;

  @media ($extra-small) {
    text-align: center;
    display: block;
    text-align: center;
  }

  &__img {
    position: relative;
    top: 6px;
    margin-right: 24px;
    width: 40px;
    height: 40px;

    @media ($extra-small) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: $grey-1;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $grey-3;
  }
}
