.furniture-slider {
  max-width: 966px;
  margin: 0 auto;
  transform: translateX(100px);

  @media ($extra-small) {
    transform: translateX(0);
  }

  &__item {
    margin: 0px 16px;
    position: relative;
  }

  img {
    max-width: 934px;
    width: 100%;
  }

  .slick-list {
    overflow: visible;
  }

  &__card {
    max-width: 294px;
    width: 100%;
    position: absolute;
    right: 40px;
    bottom: 40px;
    padding: 24px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);

    @media ($large) {
      right: 80px;
      bottom: 20px;
    }

    @media ($medium) {
      right: 100px;
    }

    @media ($small) {
      max-width: 254px;
    }

    @media ($extra-small) {
      right: -10px;
      bottom: 80px;
      padding: 12px;
      max-width: 180px;
    }
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: $grey-1;

    @media ($extra-small) {
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $grey-2;

    @media ($extra-small) {
      font-size: 14px;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: $grey-1;

    @media ($extra-small) {
      font-size: 16px;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: $grey-1;

    @media ($extra-small) {
      bottom: 13px;
      right: 15px;
    }

    i {
      transition: $transition;

      &:hover {
        color: $orange;
      }
    }
  }

  .slider-btn {
    @media ($extra-small) {
      display: none !important;
    }
  }

  ul {
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: auto;

    @media ($small) {
      left: 48%;
    }

    @media ($extra-small) {
      top: -78px;
    }

    li {
      margin: 0px 8px;

      button {
        position: relative;
        padding: 0;
        width: 27px;
        height: 27px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: transparent;
        font-size: 0;
        color: transparent;
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          top: 7px;
          left: 7px;
          width: 11px;
          height: 11px;
          background-color: $grey-5;
          border-radius: 50%;
        }
      }
    }

    .slick-active {
      button {
        border-color: $orange;

        &::after {
          background-color: $orange;
        }
      }
    }
  }
}
