.hero-content {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 100;
  max-width: 494px;
  padding: 60px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(31px);

  &__title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 56px;
    line-height: 120%;
    color: $grey-1;
  }

  &__text {
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: $grey-3;
  }
}
