.icons {
  margin-left: auto;
  display: flex;
  align-items: center;

  &__item {
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    i {
      font-size: 24px;
      color: #262f56;
      transition: $transition;

      &:hover {
        color: #ff0000;
      }
    }
  }
}
