.inspirations {
  background-color: #fcf8f3;
  padding: 44px 0;
  overflow: hidden;

  &__inner {
    display: flex;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 464px;
    padding-right: 86px;
    position: relative;
    z-index: 10;
    background-color: #fcf8f3;
  }

  &__title {
    margin-bottom: 8px;
    text-align: left;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $grey-2;
    margin-bottom: 24px;
  }
}
