.multi-slider {
  margin-bottom: 70px;

  &__item {
    margin: 0px 16px;
  }

  &__img {
    width: 100%;
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: $grey-1;
  }

  &__date {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $grey-3;
  }

  ul {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: auto;

    @media ($large) {
      bottom: -60px;
    }

    li {
      margin: 0px 8px;

      button {
        position: relative;
        padding: 0;
        width: 27px;
        height: 27px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: transparent;
        font-size: 0;
        color: transparent;
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          top: 7px;
          left: 7px;
          width: 11px;
          height: 11px;
          background-color: $grey-5;
          border-radius: 50%;
        }
      }
    }

    .slick-active {
      button {
        border-color: $orange;

        &::after {
          background-color: $orange;
        }
      }
    }
  }
}
