.nav {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $grey-1;

  @media ($medium) {
    display: none;
    flex-direction: column;
    width: calc(100% + 30px);
    text-align: center;
    position: absolute;
    top: 50px;
    left: -15px;
    z-index: 1000;
    background-color: #f9f1e7;
  }

  @media (min-width: 992px) {
    display: flex !important;
  }

  &__item {
    position: relative;
    padding-right: 28px;
    margin-right: 40px;
    cursor: pointer;

    @media ($medium) {
      margin-right: 0;
      padding: 15px;
      border-bottom: 1px solid $grey-2;

      &:first-child {
        border-top: 1px solid $grey-2;
      }
    }

    &:last-child {
      padding-right: 0;

      a {
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    i {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      @media ($medium) {
        right: 10px;
      }
    }

    ul {
      display: none;
      position: absolute;
      left: -5px;
      z-index: 200;
      width: 132px;

      @media ($medium) {
        left: 0;
        top: 55px;
        width: 90%;
      }

      li {
        @media ($medium) {
          border-bottom: 1px solid $grey-2;
          border-right: 1px solid $grey-2;
          border-left: 1px solid $grey-2;
          
        }
      }

      a {
        display: block;
        padding: 10px 5px;
        color: inherit;
        background-color: darken(#f9f1e7, 10%);
        transition: $transition;

        &:hover {
          background-color: darken(#f9f1e7, 20%);
        }
      }
    }

    &:hover ul {
      display: block;
    }
  }
}
