.products {
  .container {
    overflow: hidden;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
  }

  &__item {
    width: 25%;
    padding: 0px 16px;
    margin-bottom: 32px;
  }

  &__btn-outer {
    max-width: 245px;
    margin: 0 auto 44px;
  }
}
