.product-mask {
  padding: 175px 41px 41px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: $transition;
  opacity: 0;

  @media ($large) {
    padding: 175px 20px 41px;
  }

  @media ($medium) {
    padding: 145px 20px 41px;
  }

  @media ($extra-small) {
    padding: 101px 10px 41px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $grey-1;
    opacity: 0.72;
  }

  &__btn {
    position: relative;
    z-index: 1;
    margin-bottom: 24px;
    border: none;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: $white;

    @media ($medium) {
      padding: 0;
    }

    @media ($extra-small) {
      flex-direction: column;
      align-items: center;
    }

    span {
      display: flex;
      align-items: center;

      &:first-child {
        @media ($medium) {
          margin-right: 10px;
        }

        @media ($extra-small) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    i {
      font-size: 20px;
      margin-right: 12px;

      @media ($medium) {
        margin-right: 4px;
      }
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
