.product-label {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2ec1ac;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $white;

  @media ($extra-small) {
    top: 12px;
    right: 12px;
  }

  &--discount {
    background-color: #e97171;
  }
}
