.product-card {
  position: relative;
  overflow: hidden;
  height: 100%;

  &:hover .product-mask {
    opacity: 1;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__content {
    padding: 16px 16px 30px;
    background-color: $light-bg;
    height: 100%;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: $grey-1;
  }

  &__text {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $grey-3;
  }

  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: $grey-1;

    span {
      margin-left: 14px;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      text-decoration-line: line-through;
      color: $grey-4;
    }
  }
}
