.share {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &__subtitle {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: $grey-2;
  }

  &__inner {
    margin-bottom: 85px;
    display: flex;
    align-items: center;
    transform: translateX(-10%);
  }

  &__subbox {
    display: flex;

    div {
      padding: 8px;
    }
  }

  img {
    display: block;
    transition: $transition;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
    }
  }
}
