.slider-btn {
  padding: 0;
  top: -68px;
  right: 18px;
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  position: absolute;
  border-radius: 50%;
  background-color: $orange;
  cursor: pointer;
  transition: $transition;
  z-index: 10;

  &:hover {
    background-color: darken($orange, 10%);
  }

  &.slick-prev {
    right: 78px;

    i {
      position: relative;
      left: -2px;
    }
  }

  &.slick-next {
    i {
      position: relative;
      left: 2px;
    }
  }

  i {
    color: $white;
    font-size: 20px;
  }

  &--light {
    top: 50%;
    transform: translateY(-80%);
    background-color: $white;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);

    &.slick-prev {
      left: -10px;

      i {
        position: relative;
        left: -2px;
      }
    }

    &.slick-next {
      right: -10px;

      i {
        position: relative;
        left: 2px;
      }
    }

    i {
      color: $orange;
    }

    &:hover {
      background-color: $orange;

      i {
        color: $white;
      }
    }
  }
}
